@model IEnumerable<PrjClienteFinalHerramientas.Models.Autor>

@{
    ViewData["Title"] = "IndexAutores";
}

<h1>Lista de Autores</h1>

<p>
    <a asp-action="CreateAutor">Agregar</a>
</p>
<div class="table-responsive pt-4">
    <table class="table table-striped table-bordered border-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AutorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
            
                <td>
                        
                        @Html.ActionLink("Editar", "EditAutor", new {  id=item.AutorId  }) |
                        @Html.ActionLink("Detalles", "DetailsAutor", new { id = item.AutorId, ownerName = item.Nombre }) |
                        @Html.ActionLink("Eliminar", "DeleteAutor", new { id = item.AutorId, ownerName = item.Nombre })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<div>
    <p>Cantidad de Autores: <strong>@Model.Count()</strong></p>
</div>
